<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ripple Battleship</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Ripple Battleship</h1>
    <form action="{% url 'start_game' %}" method="post">
        {% csrf_token %}
        <input class="input-field" type="number" id="grid_size" name="grid_size" placeholder="Enter Grid Size" required min="8" man="15" minlength="8" maxlength="8" size="10">
        <input class="input-button" type="submit" value="Begin">
    </form>

</body>
</html>